:root {
  /* https://colorpalette.pro/?color=oklch%2876.4%25+0.137+201%29&paletteType=tri&paletteStyle=circle&colorFormat=oklch&effects=0%2C0%2C0%2C0 */
  --bg: oklch(19% 0.006 201);
  --fg: oklch(95% 0.01 201);
  --primary: oklch(76.4% 0.137 201);
  --accent: oklch(80% 0.08 13.7);
}

html,
body {
  background: var(--bg);
  color: var(--fg);
  font-family: "CommitMono";
  font-width: expanded;
  font-size: 1rem;
}

body {
  padding: 1rem 2rem;
}

a,
button.link {
  color: var(--primary);
  text-decoration: none;
  font: inherit;
  font-weight: 500;
  text-transform: inherit;
}

/* util */
.vstack {
  display: flex;
  flex-direction: column;
}

.hstack {
  display: flex;
  align-items: baseline;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.m-0 {
  margin: 0;
}

.inline {
  display: inline !important;
}

/* forms */
input[type="submit"],
button.link {
  background: transparent;
  border: 0;
  color: var(--primary);
  padding: 0;
  font-weight: 500;
}

button.link {
  appearance: none;
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline;
  margin: 0;
}

label {
  display: block;
  margin-top: 1rem;
}
