:root {
  /* https://colorpalette.pro/?color=oklch%2895.8%25+0.188+167%29&paletteType=tri&paletteStyle=circle&colorFormat=oklch&effects=0%2C0%2C0%2C0 */
  --bg: oklch(14% 0.004 201);
  --fg: oklch(95% 0.01 201);
  --primary: oklch(76.4% 0.137 201);
  --accent: oklch(80% 0.08 351);
  --error: oklch(65.8% 0.169 17);
  --success: oklch(55.8% 0.207 167);
}

html,
body {
  background: var(--bg);
  color: var(--fg);
  font-family: "CommitMono";
  font-width: expanded;
  font-size: 1rem;
}

code,
pre,
textarea {
  font-family: "CommitMono";
  font-width: expanded;
  font-size: 1rem;
}

textarea {
  padding: 0.25rem;
}

body {
  padding: 1rem 2rem;
}

.subdue {
  color: oklch(62.5% 0.01 167);
}

a,
button.link {
  color: var(--primary);
  text-decoration: none;
  font: inherit;
  font-weight: 500;
  text-transform: inherit;
}

/* util */
.vstack {
  display: flex;
  flex-direction: column;
}

.hstack {
  display: flex;
  align-items: baseline;
}

.hstack.middle {
  display: flex;
  align-items: center;
}

.hstack.space-evenly {
  justify-content: space-evenly;
}

.grow {
  flex-grow: 1;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.m-0 {
  margin: 0;
}

.mb-8 {
  margin: 0 0 2rem 0;
}

.inline {
  display: inline !important;
}

.w-full {
  width: 100%;
}

/* forms */
input[type="submit"],
button {
  padding: 2px 4px;
  line-height: 1rem;
}

input[type="submit"].link,
button.link {
  background: transparent;
  border: 0;
  color: var(--primary);
  padding: 0;
  font-weight: 500;
}

button.link {
  appearance: none;
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline;
  margin: 0;
}

label {
  display: block;
}

/* other stuff */
.error {
  background: var(--error);
  padding: 0 2px;
  color: white;
}

.success {
  color: var(--success);
}

.white {
  color: var(--fg);
}

section {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--primary);
}
